@import url(normalize.css);

/***
  Page layout
 ***/

a { text-decoration: none; color: #265d9b; }
a:visited { color: navy; }
a:hover { text-decoration: underline; }

body, textarea, input, select {
  font-family: "Trebuchet MS", sans-serif;
}

/* Stick to window height */
html { height: 100%; }
body { position: relative; min-height: 100%; }

body {
  margin-top: -35px;
  padding-bottom: 32px;
  background: no-repeat center 5px url("data:image/gif;base64,R0lGODlh8gMHAIAAACZdm////yH5BAEAAAEALAAAAADyAwcAAAJvhB2py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyHB1IcND6zvf+DwwKh8Si8YhMKlm5xW0JjUqn1Kr1is1qt1zQ09kNi8fksvmMTqvXtQeADY/L5/S6/Y6PvvP8vv8PGCg4SFhoeIiYqLjIuFYAADs=") #e4e4e4;
}

body:before, body:after {
  position: absolute;
  left: 0;
  width: 100%;
  background: #265d9b;
  display: block;
  content: "";
}
body:before { top: 35px; height: 5px; }
body:after { bottom: -3px; height: 3px; }

#wrapper {
  max-width: 1000px;
  margin: -32px auto 0;
  padding-top: 35px;
}

#menu, #content {
  border-radius: 0 0 8px 8px;
}

#menu {
  margin: 0;
  text-align: center;
  background: #265d9b;
  padding: 5px 0;
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #bbdbff;
  box-shadow: 0 0 2px gray;
  color: #bbdbff;
}

#menu li {
  display: inline;
  list-style: none;
}

#menu li + li:before { content: " • "; }
#menu li a { color: white; }
#menu li.sqobot a { font-weight: bold; color: #bbdbff; }

#menu li.sqobot .version {
  font-size: 63%;
  vertical-align: top;
  color: white;
}

#content {
  padding: 1.5em;
  border: 1px solid #c0c0c0;
  border-top: 0;
  margin: -5px 2px 0;
  background: repeat-y center top url(bk.png) #f1f1f1;
}

#content > :first-child,
#content > :first-child > :first-child,
#content > :first-child > :first-child > :first-child
  { margin-top: 0; }
#content > :last-child,
#content > :last-child > :last-child,
#content > :last-child > :last-child > :last-child
  { margin-bottom: 0; }

[class^=web-] + [class^=web-] { margin-top: 2em; }

/***
  Common elements
 ***/

/* box-sizing */
textarea, input, select, button,
.web-status .atoms, .web-status .pages {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
#content:after, .web-status .queue:after {
  content: "";
  display: table;
  clear: both;
}
.web-status .queue:after { margin-bottom: -1em; }

textarea:focus,
input:focus:not([type=checkbox]):not([type=radio])
  { outline: 2px solid #265D9B; outline-offset: -1px; }

.hide { display: none; }
time[title] { border-bottom: 1px dashed gray; cursor: help; }

table { width: 100%; border-collapse: collapse; }
table.gen > * > tr > th, table.gen > * > tr > td { padding: 0.25em 0.5em; }
tr {
  vertical-align: top;
  text-align: left;
}
table.gen > * > tr > th:first-child {
  width: 20%;
  background: rgba(255, 255, 255, 0.7);
  padding-right: 1em;
}
table.gen > * > tr > th + td { padding-left: 1em; }
tr.btn { text-align: center; }
tr.btn.right { text-align: right; }

table.pivot { table-layout: fixed; }

textarea.wide, input.wide { width: 100%; }
textarea.wide { resize: vertical; }

hr {
  border: 0;
  border-top: 1px solid #c0c0c0;
  margin-left: -1.5em;
  margin-right: -1.5em;
}

pre { font-size: 83%; }
kbd, code, textarea, input, select, button { font-size: 93%; }
optgroup { font-style: normal; }
option { padding-right: 0.5em; }
option[value$="-"] { font-style: italic; }

pre.gen {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 0.75em 1em;
}

h1, h2, h3, h4 { text-align: center; }
h1, h2, h3 { font-weight: normal; text-shadow: 0.12em 0.12em 0.05em #ddd; }

p.error {
  border-left: 3px solid red;
  padding: 0.5em 0.5em 0.5em 1em;
  background: none repeat scroll 0 0 rgba(255, 255, 234, 0.83);
}

p.error.border {
  border-top: 1px solid #CCC588;
  border-bottom: 1px solid #CCC588;
  border-right: 1px solid #CCC588;
}

p.none {
  padding: 0.75em 1em;
  border: 1px dashed #c0c0c0;
  background: #f7f7f7;
}

p.loading {
  color: navy;
  cursor: wait;
  padding-left: 23px;
  background: no-repeat left 2px url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACdklEQVR4XpWTzU/TYACHOXLw6MWLifG2mHglHvQ/0IMHL3JQEo0xIS56EInfiUBChADjY6Cgk40D4siArZIg7oNNYOvKxoZCN7rJxr50sO6rW/vzpUmXEA3Bw5P20OfJ2za/OgB1wVF1PaGZYCKwBJ4gMkN34Oq+joVXl0VT6yV+4t559u2tMyZN48nmrmsn6g9cJWDfNrchtqRBkn6DtO8dUswYdpeHsWPtR+RzF9jpNvh1LbB338DUw4sgAXstENA9YpRAwj1MGEHcOYSfXzXYtrwGa+xA0PAc9PB9WDsb5UB34ymmFnCscSq3YxFbZi3W9Y+xrGnCQtsVkGODHBujt89isOk0tHfPwfDyKrR97egbN6uUgMzCpmBxR8tI5yooChJKFQmZfBXrsSJWuQLC6TLYVBkznhT65sIWxZNlBSpQ+EQF8tI2eZgviYhlKwjGSwgR0fFjHwNUROqdDU8pjhI4hJHea5ims+w3NofIL0GW57wZ9FPcZs9sqEEWjwoo6JeSNg/HYzWcg8bCWRXh2IGJpYTTG+XhJoGemZDt2AG9I3HBuJLk1iI5ZPgq4nsVzK4m0D65sfXC4D/6FXS2XeOkKyGFkkX5T5SrEvaLIiIZAWZvCk/eM1LLKP3vjzhmjVPzvgx2sgLyZRECkauiBJ7c09ECfDtFMOSqpVioB5cP/0bDvE81bothMfAbyf2KLBNXDmQLVXzfLcmyJ1LAR1cMrWMeqDsMqkNb8FODsDsdcG6kEU0VsJcXEIrnoP8SxrMPXjzQrkA94EJnrw4jT2/WtlAL/O8WlMBfcyYTZsmE+YMJK1sgExbJhHkisQQToTbnPxD6Ba4LzGhiAAAAAElFTkSuQmCC");
}

span.error {
  color: red;
  background: #ffe;
  padding: 0 0.2em;
}

/***
  Task styles
 ***/

/*** status ***/
.web-status .atoms, .web-status .pages {
  float: right;
  clear: right;
  margin: 1em 1em 0 0;
  width: 50%;
  border: 1px solid #c0c0c0;
  padding: 1em;
  background: white;
  border-radius: 3px;
}
.web-status pre:first-line { font-weight: bold; }

/*** log ***/
.web-index .web-log .entries { overflow: auto; max-height: 40em; }
.web-log pre {
  border: 1px dashed #c0c0c0;
  border-width: 1px 0;
  padding: 1em 0;
  margin: 0;
}
.web-log pre:hover { background: rgba(255, 255, 255, 0.7); }
.web-log pre + pre { border-top: 0; }
.web-log p.now, .web-log p.eof { color: gray; font-family: monospace; }
.web-log p.now { margin-top: 0; }
.web-log p.eof { margin-bottom: 0; }
.web-log kbd { color: navy; }
.web-log kbd:nth-of-type(2) ~ kbd { font-weight: bold; }

.web-log .web-log-list { font-size: 83%; }
.web-log-list ol { padding: 0; text-align: center; }
.web-log-list li { display: inline; list-style: none; }
.web-log-list li + li:before { content: " • "; color: silver; }
.web-log-list li.latest a { font-weight: bold; }
.web-log-list li.selected a { text-decoration: underline; }

/*** tasks ***/
.web-tasks > table:not(.pivot) td.output { display: none; }
.web-tasks > table:not(.pivot) tr.btn { text-align: center; }
.web-tasks td.output > :first-child { margin-top: 0.25em; }
.web-tasks td.output p + pre { margin-top: -0.5em; }

/*** patch ***/
.web-patch form { text-align: center; }
.web-patch ol { padding-left: 1.4em; }
.web-patch ol kbd { font-weight: bold; }
.web-patch li.errors kbd { color: red; }
.web-patch .error + pre {
  margin: -1.2em 0 0;
  border-radius: 0 0 5px 5px;
   border-top-color: #CCC588;
}

/*** nodes ***/
.web-nodes .nodes th { white-space: nowrap; padding-right: 1em; }
.web-nodes .nodes .errors { color: maroon; }
.web-nodes .nodes tr p { margin: 0; }

/*** files ***/
.web-files p.loading { position: absolute; margin: -2.75em 0 0; }
.web-files p.path { text-align: center; }
.web-files p.path a:first-child { font-style: italic; }
.web-files tr.confirming { background: red; }
.web-files tr.confirming * { color: white !important; }
.web-files tr.dir { font-weight: bold; }
.web-files tr img { opacity: 0.3; vertical-align: middle; }
.web-files tr:hover { background: rgba(255, 255, 255, 0.7); }
.web-files tr.confirming img,
.web-files tr:hover img { opacity: 1; }
.web-files tr a.name { padding-left: 24px; background: no-repeat 2px center; }
.web-files tr.dir a.name { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACRklEQVR4XrWS3UtUQRjGnznn7IdbK4UmlVkqCX5QQqYI1kUUBF3lX+BF0X/QRUQX3UaQYIRdSGBXgfRxIUQEGZiERERdCEEZK+u6pq7rurvnY2aexj1+XYUQDTy88w7P++OZYQRJ/MuyjP4f4NnIDfvB6KvJ4RcTHByb5qOXn/l47B0f3jyT2BNg3rnyvqH5VN/F3m5cvdCJs6dbcPR4C9y2u2/2BIhV1/e1Nx7Cqm8hs6YghY3GY7WoStb0bXmc7+PdX+LV7e1C7GYRXuHHnBvcRywWRb4goQl4kog7NmjHsA0QtFobzj2JCCEAhsMwe+kuNcfGZ+F6AQJles0QLQC37O56REkX2oeXHkTp1xBKqVGUU89hOxHU7VdYWMxhX1QgEXdQnYggsxLAKc5h8FrPQCUBAmHRAJQfBTWhyykExSzWFyfQdaAeM+mD+DjbCcuOomzSiPwczh/OIXvyxNCd/ibPgWBcyzL8EkC/iKCwhmTrAOI1baiFQBMIQAMkAOLb1ALmpyfY2NGbzGQXR0wCC05VHQ60Xd820lTtpyFX34IqD8oNrYFqHR1dt5H5MCM/TeVlADthACSVC136GppVAZSr0EGu0hvK5vkGoAjQQ/ORuLp863UifEQPpJZm4De0v6FsRTQ9g2x4Hixti5SAt/sr+6SAAuWK0TJoTKZuKldJE6oAqlJ4TbkDcOjrnCwtJ4L1aBI6aZERmAqwFlQeAB+0wiosBeW6NDPeDsD17v0c7u8BcQkCSfxt0UhM+tB8umX4Ayn8WT3Ti/nyAAAAAElFTkSuQmCC"); }
.web-files tr.dir.empty a.name { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABqElEQVR4XsWTvWpUQRiGn+9kdz2KuwQU0aAINibpDQjptLTxCmy8BbEQApZ6A9pZ2FkKdiIWXkDQTtHCILoxcdfsT86Zv9ez2XX3NFYWeeHhY4aXh2GYMUn8TzLgeAUNgI+vrm3nnfV1s7pPlIPPOzH0rwMl9RgAo6u3PoQGgClbvbT5rGlmIACBGaHYu9LdfrgjELMstTpS9LvD72/uAS8aAAQVJHei/PGE6JYg62DWJl+5wcrGoxYSkEAVCMtOn//0cnNrIfCWKTmia6Ek0uFX/KjLcPctzfwCyENySAEItFfvT4qX53eAKU/hEDcGuRF+cFCV7pCfWQMM+HsCAcIayxCzxkLgMxonz7G8dndeFInkvhH6r1H8jcKEAxSH5BcfQClqAkmxII3fT8txgEKf5HtH68oy258IRqASfP0dlEgpkPxPkpvQPULVWr473fd7c6QAZV3gJCOi8KtiH1Wlas7oVfRnDFAcAwlC7SHJpV4Y75/yw1ab1M6kJtUEnUWxBBzKptOySCwKyaVyISjKx1+e3t5A3MRo8++AAHvnSHoOcPy/8Q8ejh8G74bL3gAAAABJRU5ErkJggg=="); }
.web-files tr.file-zip a.name { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOUlEQVR4Xq1Su2qFQBAdY67+RP7AJkWKlJa2YmGlpaAQ0iap8+hFrkU6rQyIXfATUqRJEfwIw60sfGIymzuYy2aRQA4sc4ZZzpwZRprnGQhJkmwBwId1xK7rBkiOfxbGcfRt24ZpmkAEWZYhyzJs8i3wcr+hrnCy0d7TtNdAAF3XQVVV6Pue5eTAPwsKlrxuTe10d8HZPb8ZgjAM56ZpoG1bTgCGj0eWMKEFJMrsdl1HYwJxbgcoJAIKDMNAnBNYA1rH7sT/LECzE/9fB/Hb07MPYsQkgDsgTqBLPIDjOL9epGVZLOZ5DmmaStwIpmmyqCiKH0XRwbbruoaqquiQ8K9wB/gh9jxvdSzEkeDDbh/viqKQ8GFCfF/H2W9FApeGYbD4ZXXGh8nCl7roDqKyLK8wAsA18Hig+icTXq7BzOnYJQAAAABJRU5ErkJggg=="); }
.web-files tr.empty a.name { color: #666; }
.web-files tr.sys a.name { color: #9D6901; }
.web-files tr:not(.dir) a.name + * { margin-left: 0.5em; }
.web-files td.name ~ * { text-align: right; }

/*** files & patch side-by-side ***/
.web-index .web-files { float: left; width: 50%; }
.web-files + .web-patch { float: right; width: 50%; }
.web-files + .web-patch form { text-align: left; }
.web-files + .web-patch form p { padding-left: 1em; }
.web-files + .web-patch form p.btn { text-align: center; }
.web-files + .web-patch input[type=file] { width: 10em; }
.web-files + .web-patch .help { display: none; }
.web-files + .web-patch + * {
  clear: both;
  margin-top: 0;
  padding-top: 2em;
}
